.content {

   &__container {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
   }

   &__btn {
    padding: 13px 30px;
    border: none;
    border-radius: 3px;
    background: var(--blue);
    color: #FFF;
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    cursor: pointer;

        &-ok {
            background: var(--green);
        }

        &:hover {
            opacity: 0.8;
        }
   }
}